<a href="https://colab.research.google.com/github/ShrayankM/FoundationsOFDataScience/blob/master/BasicsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

Variable names are labels to store values.
Same values are stored at same location and variable are used as address holders.

In [7]:
message_one = "Welcome_to_Python"
message_two = "Welcome_to_Python"

print(id(message_one),type(message_one),message_one)
print(id(message_two),type(message_two),message_two)

140245900720792 <class 'str'> Welcome_to_Python
140245900720792 <class 'str'> Welcome_to_Python

In [8]:
x,y,z = 2,3,4 #multiple varible assignment
print(x,y,z)

2 3 4

# Strings and String Functions

In [9]:
message = "Python for data science"
print(message.title()) #capitalizes the first alphabet of every word

Python For Data Science

In [10]:
print(message.upper()) #print uppercase form of string
print(message.lower()) #print lowercase form of string

PYTHON FOR DATA SCIENCE
python for data science

In [11]:
f_name = "shrayank"
l_name = "mistry"
full_name = f"{f_name} {l_name}" #f - format creating f-strings Python 3.6 and Above
print(full_name)

shrayank mistry

In [12]:
print(f"Hello {full_name.title()}") #OR
print("Hello "+ full_name.title())

Hello Shrayank Mistry
Hello Shrayank Mistry

In [13]:
full_name = "{} {}".format(f_name, l_name) #Python 3.5 and Below format()
print(full_name.title())

Shrayank Mistry

In [14]:
favourite_language = ' Python '
print(favourite_language.rstrip()) #remove blank spaces from right side of string
print(favourite_language.lstrip()) #remove blank spaces from left side of string
print(favourite_language.strip()) #remove blank spaces from left and right side of string

 Python
Python
Python

In [135]:
course = "Foundations of Data Science"
course_list = course.split() #splits the string and creates a list
course_list

['Foundations', 'of', 'Data', 'Science']

# Lists
Lists are declared using [ ] brackets. Indexing starts at 0.
Index of last element starts from -1.

Lists can be modified at any time and can hold different data items in the same list.

In [16]:
fruits = ['apple','orange','banana','mangoes'] #all data items in list are string
print(type(fruits))
multiple_data_types = [2,'cars',False,'True',3,67,'fruits'] #data items are different
print(type(multiple_data_types))

<class 'list'>
<class 'list'>

In [17]:
empty_list = list() #syntax for empty list OR
empty_list_2 = []
print(type(empty_list))

<class 'list'>

In [18]:
print(fruits[0]) #accessing first element of fruits list
print(fruits[-1]) #accessing last element of fruits list
print(fruits[-2]) #accessing second last element of fruits list

apple
mangoes
banana

In [19]:
fruits[0] = 'coconut' #modifying list fruits
fruits

['coconut', 'orange', 'banana', 'mangoes']

In [20]:
fruits.append('kiwi') #appending at the end of list
fruits

['coconut', 'orange', 'banana', 'mangoes', 'kiwi']

In [21]:
fruits.insert(0,'strawberries') #insert at first location 0. Give index and value
fruits

['strawberries', 'coconut', 'orange', 'banana', 'mangoes', 'kiwi']

In [22]:
del fruits[-1] #delete -1 elememt from list
fruits

['strawberries', 'coconut', 'orange', 'banana', 'mangoes']

In [23]:
print(fruits.pop()) #pops the last element from list when no index given
fruits

mangoes

['strawberries', 'coconut', 'orange', 'banana']

In [24]:
print(fruits.pop(1)) #pops element at given index
fruits

coconut

['strawberries', 'orange', 'banana']

In [25]:
fruits.remove('banana') #removes values from list according to value
fruits

['strawberries', 'orange']

In [26]:
fruits = ['apple','orange','banana','mangoes','kiwi','coconut']

In [27]:
fruits.sort() #sorts in alphabetical ascending order permanently
fruits

['apple', 'banana', 'coconut', 'kiwi', 'mangoes', 'orange']

In [28]:
fruits.sort(reverse=True)
fruits

['orange', 'mangoes', 'kiwi', 'coconut', 'banana', 'apple']

In [29]:
print(sorted(fruits)) #temporary sorting ascending

['apple', 'banana', 'coconut', 'kiwi', 'mangoes', 'orange']

In [30]:
print(sorted(fruits,reverse=True))

['orange', 'mangoes', 'kiwi', 'coconut', 'banana', 'apple']

In [31]:
fruits = ['apple','orange','banana','mangoes','kiwi','coconut'] 
print(fruits.reverse()) #only reverses the list does not sort
fruits

None

['coconut', 'kiwi', 'mangoes', 'banana', 'orange', 'apple']

In [32]:
len(fruits) #find length of list

6

In [33]:
fruits = ['apple','orange','banana','mangoes','kiwi','coconut'] 
for fruit in fruits:
    print(fruit)

apple
orange
banana
mangoes
kiwi
coconut

In [34]:
for i in range(0,5): #0 inclusive 5 exclusive starts at zero goes upto 4
    print(i)

0
1
2
3
4

In [35]:
for i in range(5): #if first index not specified starts at zero goes to 5
    print(i)

0
1
2
3
4

In [36]:
range_of_numbers = list(range(0,6)) #arguments 1-startValue 2-endValue Exclusive
range_of_numbers

[0, 1, 2, 3, 4, 5]

In [37]:
range_of_numbers = list(range(2,11,2)) #arguments 1-startValue 2-endValue Exclusive 3-jumpOfValues 
range_of_numbers

[2, 4, 6, 8, 10]

In [38]:
print(min(range_of_numbers))
print(max(range_of_numbers))
print(sum(range_of_numbers))

2
10
30

In [155]:
%%time
squares = [value ** 2 for value in range(1, 7000, 2)] #List Comprehensions
# squares

CPU times: user 743 µs, sys: 0 ns, total: 743 µs
Wall time: 746 µs

In [98]:
%%time
millon_numbers = []
for i in range(1,1000000):
    millon_numbers.append(i)
# millon_numbers

CPU times: user 92.8 ms, sys: 12.1 ms, total: 105 ms
Wall time: 104 ms

In [41]:
%%time
millon_numbers = [value for value in range(1,1000000)]

CPU times: user 21.5 ms, sys: 12.5 ms, total: 34 ms
Wall time: 33.2 ms

In [42]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3]) #slicing a list starting at 0 ending at 2

['charles', 'martina', 'michael']

In [43]:
print(players[:3]) #if no starting index starts at beginning of list to end index

['charles', 'martina', 'michael']

In [44]:
print(players[2:]) #if no ending index starts at index given to end of list

['michael', 'florence', 'eli']

In [45]:
print(players[-2:]) #start the end prints values equal to absolute value of index

['florence', 'eli']

In [46]:
fruits = ['apple','orange','banana','mangoes','kiwi','coconut']
fruits_copy = fruits #both fruits and fruits_copy point at same list
fruits_copy[0] = 'fig'
print(fruits)

['fig', 'orange', 'banana', 'mangoes', 'kiwi', 'coconut']

In [47]:
fruits = ['apple','orange','banana','mangoes','kiwi','coconut']
fruits_copy = fruits[:] #deep copy create entire new list
fruits_copy[0] = 'fig'
print(fruits)
print(fruits_copy)

['apple', 'orange', 'banana', 'mangoes', 'kiwi', 'coconut']
['fig', 'orange', 'banana', 'mangoes', 'kiwi', 'coconut']

In [48]:
fruits = ['apple','orange','banana','mangoes','kiwi','coconut']
print('apple' in fruits)

True

In [49]:
bmi_dataset = [
               ["Mark",135,1.6,True],
               ["Jack",150,1.73,False],
               ["Rock",160,1.67,True]
]

In [50]:
bmi_dataset[0][1]

135

In [51]:
A = [
     [1,1],
     [1,0]
]

In [52]:
def square_matrix_power(A,n):
    temp = A[:]
    for index in range(n-1):
        c = [[0,0],[0,0]]
        for i in range(len(A[0])):
            for j in range(len(A[0])):
                for k in range(len(A[0])):
                    c[i][j] = c[i][j] + A[i][k] * temp[k][j]
        A = c[:]
    return A

In [53]:
result = square_matrix_power(A,2)

In [54]:
result

[[2, 1], [1, 1]]

In [55]:
for i in range(10):
    output = square_matrix_power(A,i)
    print(i,output[0][0])

0 1
1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55

# Tuples

Tuples are declared using ( ). Tuples are immutable , that is they cannot be modified. Indexing starts at 0.

In [56]:
empty_tuple  = (1366,768)
print(type(empty_tuple),empty_tuple)

<class 'tuple'> (1366, 768)

In [57]:
tuple_numbers = tuple(range(1,11))
tuple_numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [58]:
for i in tuple_numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
fruits_tuple = ('apple','fig','orange','jackfruit')
fruits_tuple.index('apple')

0

In [60]:
%%timeit -n1 -r10
#executes the given code n time and repeats it 10 times and gives best possible time
for i in range(1000000):
    my_list = ['apple',2,'fig',55,False,True]

55.4 ms ± 3.2 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [61]:
%%timeit -n1 -r10
#executes the given code n time and repeats it 10 times and gives best possible time
for i in range(1000000):
    my_tuple = ('apple',2,'fig',55,False,True)

19.7 ms ± 824 µs per loop (mean ± std. dev. of 10 runs, 1 loop each)

# Sets 

Sets are declared using { }. They do not store duplicate values. They are used for set operations. Sets are much faster compared to list and tuples.

In [62]:
batsmen = {'Virat','Sachin','Ravindra','Rohit','Virat'}
print(batsmen)

{'Ravindra', 'Virat', 'Rohit', 'Sachin'}

In [63]:
bowlers = {'Ravindra','Bumbrah','Ashwin','Ishant'}
all_rounders = batsmen.intersection(bowlers)

In [64]:
print(all_rounders)

{'Ravindra'}

In [65]:
%%timeit -n1 -r10
my_list = list(range(10000))
for i in range(10000):
    b = 24566 in my_list

786 ms ± 25.1 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [66]:
%%timeit -n1 -r10
my_tuple = tuple(range(10000))
for i in range(10000):
    b = 24566 in my_tuple

725 ms ± 12.7 ms per loop (mean ± std. dev. of 10 runs, 1 loop each)

In [67]:
%%timeit -n1 -r10
my_set = set(range(10000))
for i in range(10000):
    b = 24566 in my_set

802 µs ± 147 µs per loop (mean ± std. dev. of 10 runs, 1 loop each)

# Conditional Statements IF , ElIF , ELSE

In [68]:
numbers = list(range(2,21,2))
even_numbers , odd_numbers = [] , []
for i in numbers:
    if i%2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)

In [69]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [70]:
print(2 not in even_numbers) 
print(2 in even_numbers) #check if value 2 in list or not returns boolean

False
True

In [71]:
age_list = [5,12,18,22]
for age in age_list:
    if age <= 5 and age > 3:
        print("Junior KG")
    elif age <= 13 and age > 5:
        print("Middle School")
    elif age <= 18 and age > 13:
        print("High School")
    else:
        print("Collge Student")

Junior KG
Middle School
High School
Collge Student

In [72]:
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']

for topping in requested_toppings:
    if topping in available_toppings:
        print("Topping " + topping + " Avaliable")
    else:
        print("Topping " + topping + " Not Avaliable")

Topping mushrooms Avaliable
Topping french fries Not Avaliable
Topping extra cheese Avaliable

# Dictionaries

Dictionaries are declared using { }. Every value in dictionary is a KEY - VALUE Pair. Key and Value are separated by Colan : .

In [73]:
student = {
    'Name':'Mark Z',
    'Age':30,
    'Major':'CS'
    }
print(type(student))

<class 'dict'>

In [74]:
print(student['Name'])
print(student['Age'])
print(student['Major'])

Mark Z
30
CS

In [75]:
student['House'] = 'Kirkland' #Adding more key-value pairs 'House' is Key 'Kirkland' is Value
student['College'] = 'Harvard University'

In [76]:
print(student)

{'Name': 'Mark Z', 'Age': 30, 'Major': 'CS', 'House': 'Kirkland', 'College': 'Harvard University'}

In [77]:
student['Age'] = 19 # Updating value related to any Key like Age

In [78]:
print(student)

{'Name': 'Mark Z', 'Age': 19, 'Major': 'CS', 'House': 'Kirkland', 'College': 'Harvard University'}

In [79]:
del student['College'] #Permanently remove key-value pair from dictionary
print(student)

{'Name': 'Mark Z', 'Age': 19, 'Major': 'CS', 'House': 'Kirkland'}

In [80]:
name_of_student = student.get('Name','No name assigned') #returns value associated with given key if present
print(name_of_student) # else return given string that is "No name assigned"

Mark Z

In [81]:
student = {'Name':'Mark Z','Age':30,'Major':'CS','House':'Kirkland','College':'Harvard University'}

In [82]:
for key,value in student.items():  #looping through key and values of dictionary
    print("Key is ",key,"->Value is ",value)

Key is  Name ->Value is  Mark Z
Key is  Age ->Value is  30
Key is  Major ->Value is  CS
Key is  House ->Value is  Kirkland
Key is  College ->Value is  Harvard University

In [83]:
for key in student.keys(): #looping only through keys OR default is always keys
    print("Key is: ",key)

Key is:  Name
Key is:  Age
Key is:  Major
Key is:  House
Key is:  College

In [84]:
for key in student:
    print("Key is ",key)

Key is  Name
Key is  Age
Key is  Major
Key is  House
Key is  College

In [85]:
student = {'Name':'Mark Z','Age':30,'Major':'CS','House':'Kirkland','College':'Harvard University'}
print('Name' in student.keys())

True

In [86]:
for value in student.values(): #looping through all values in dictionary
    print("Value is " , value)

Value is  Mark Z
Value is  30
Value is  CS
Value is  Kirkland
Value is  Harvard University

In [87]:
languages = {1:'Python',2:'Java',3:'C++',4:'C',5:'Ruby',6:'Python'}

In [88]:
print(set(languages.values())) #Creates unique list of values in dictionary sets have only unique values

{'Python', 'C++', 'Ruby', 'Java', 'C'}

In [89]:
fruits_set = {'mangoes','apple','orange','fig','apple'} #duplicates in set are considered only once
fruits_set

{'apple', 'fig', 'mangoes', 'orange'}

In [90]:
fruits_list = []
i = 1
for fruit in fruits_set:
    new_fruit = {'Name':fruit,'Number':i}
    i = i + 1
    fruits_list.append(new_fruit)
print(fruits_list) #Creating and printing a list of dictionaries

[{'Name': 'apple', 'Number': 1}, {'Name': 'mangoes', 'Number': 2}, {'Name': 'orange', 'Number': 3}, {'Name': 'fig', 'Number': 4}]

In [91]:
pizza = {'Crust':'Thick',
         'Toppings' : ['cheese','paneer','olives'],
         'Price':250} #Values of toppings Key is a list of items

In [92]:
for pizza_value in pizza.values():
    print(pizza_value)

print(pizza['Toppings'])

Thick
['cheese', 'paneer', 'olives']
250
['cheese', 'paneer', 'olives']

In [93]:
users = {
    'markz':{
        'f_name':'Mark',
        'l_name':'Zukerberg',
        'location':'Harvard'
    },
    'robertc':{
        'f_name':'Robert',
        'l_name':'Curie',
        'location':'Yale'
    },
    'stanl':{
        'f_name':'Stan',
        'l_name':'Lee',
        'location':'Stanford'
    }
} #nested Dictionaries every key is associated with another dictionary

In [94]:
for user_name,details in users.items():
    print("Username: ",user_name)
    full_name = f"{details['f_name']} {details['l_name']}"
    loc = details['location']
    print("\tFullName ",full_name)
    print("\tLocation ",loc)

Username:  markz
	FullName  Mark Zukerberg
	Location  Harvard
Username:  robertc
	FullName  Robert Curie
	Location  Yale
Username:  stanl
	FullName  Stan Lee
	Location  Stanford

# User Inputs and While Loops

In [99]:
name = input("Please Enter your name ") #all input taken datatype is string
print("Your name is ",name , type(name))

Your name is  Shrayank <class 'str'>

In [100]:
age = input("Enter your age")
print("Your age is ",age, type(age))

Your age is  24 <class 'str'>

In [101]:
age_int = int(age) #casting a string(str) to integer(int)
print(age_int,type(age_int))

24 <class 'int'>

In [102]:
while True:
    city = input("Enter your city OR q to Quit")
    if city != 'q':
        print("Your city is ",city)
    else:
        break

Your city is  Pune

In [ ]:
print("Printing odd numbers upto 100")
number = 0
while number < 100:
    number = number + 1
    if number%2 == 0:
        continue
    else:
        print(number)

In [104]:
numbers = list(range(6))
while numbers:
    print(numbers.pop(0))

0
1
2
3
4
5

# Functions

In [105]:
def greetings(username): #parameter is passed by Value not reference
    print("Welcome to Python",username)

In [106]:
username = 'Shrayank'
greetings(username)
print(username)

Welcome to Python Shrayank
Shrayank

In [107]:
def check_even_odd(numbers_list):
    even_nos ,odd_nos = [] , []
    for number in numbers_list:
        if number%2 == 0:
            even_nos.append(number)
        else:
            odd_nos.append(number)
    print("Even nos are: ",len(even_nos))
    print("Odd nos are: ",len(odd_nos))

In [108]:
check_even_odd(list(range(1,101)))

Even nos are:  50
Odd nos are:  50

In [109]:
def default_parameters(name =''):
    if name:
        print("Your name is ", name)
    else:
        print("No name given")

In [110]:
default_parameters()
default_parameters('Shrayank') #OverWrites the default value in function definition

No name given
Your name is  Shrayank

In [111]:
def modify_list(original,reverse): 
    while original:
        reverse.append(original.pop())

In [112]:
numbers_list = list(range(11))
new_list = []
modify_list(numbers_list,new_list) #List is passed by reference not Value
print(new_list)
print(numbers_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[]

In [113]:
numbers_list = list(range(11))
new_list = []
modify_list(numbers_list[:],new_list) #Copy of the list is passed to the function
print(new_list)
print(numbers_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
def pizza_toppings(*toppings): #Function can take arbitary no of arguments(one or many) toppings is tuple
    print(type(toppings))
    if toppings:
        print("Avaliable toppings ", toppings)
    else:
        print("No toppings avaliable")

In [115]:
pizza_toppings()
pizza_toppings('cheese')
pizza_toppings('cheese','olives','onion','macharoni')

<class 'tuple'>
No toppings avaliable
<class 'tuple'>
Avaliable toppings  ('cheese',)
<class 'tuple'>
Avaliable toppings  ('cheese', 'olives', 'onion', 'macharoni')

In [116]:
def pizza_toppings_modified(size,*toppings): #Arbitary arguments are always last in parameter list
    print(size,toppings)

In [117]:
pizza_toppings_modified(16,'cheese')
pizza_toppings_modified(12,'cheese','olives','onion')

16 ('cheese',)
12 ('cheese', 'olives', 'onion')

# Classes

In [118]:
class Car:
    def __init__(self,price,mileage,top_speed):
        #Defines all the instance variables of the class Car
        self.price = price
        self.mileage = mileage
        self.top_speed = top_speed
    
    def display_features(self):
        print("Price: ", self.price)
        print("Mileage: ",self.mileage, "miles per gallon")
        print("Top Speed: ",self.top_speed, " miles per hour")

In [119]:
a = Car('$1000',45,200)
a.price = '$2000'
a.display_features()

Price:  $2000
Mileage:  45 miles per gallon
Top Speed:  200  miles per hour

In [120]:
b = Car('$3000',50,150)
b.display_features()

Price:  $3000
Mileage:  50 miles per gallon
Top Speed:  150  miles per hour

In [121]:
class no_variables:
    def __init__(self):
        #No instance variables associated with this class
        print("Creating instance")
    
    def display_greeting(self,name):
        print("Welcome to Python,",name)

In [122]:
b = no_variables()
b.display_greeting('Mark')

Creating instance
Welcome to Python, Mark

In [123]:
class Car_default:
    def __init__(self,price,mileage,top_speed):
        #Defines all the instance variables of the class Car
        self.price = price
        self.mileage = mileage
        self.top_speed = top_speed
        self.total_miles = 0
    
    def display_features(self):
        print("Price: ", self.price)
        print("Mileage: ",self.mileage, "miles per gallon")
        print("Top Speed: ",self.top_speed, " miles per hour")
        if self.total_miles == 0:
            print("The Car is New")
        else:
            print("The Car has ",self.total_miles," on it")

In [124]:
c = Car_default('$2600',60,130)
c.display_features()

Price:  $2600
Mileage:  60 miles per gallon
Top Speed:  130  miles per hour
The Car is New

In [125]:
#Inheritance
class Car:
    def __init__(self,price,mileage,top_speed):
        #Defines all the instance variables of the class Car
        self.price = price
        self.mileage = mileage
        self.top_speed = top_speed
    
    def display_features(self):
        print("Price: ", self.price)
        print("Mileage: ",self.mileage, "miles per gallon")
        print("Top Speed: ",self.top_speed, " miles per hour")

In [126]:
class ElectricCar(Car):
    def __init__(self,price,mileage,top_speed,range):
        super().__init__(price,mileage,top_speed)
        self.range = range
    
    def display_features_electric(self):
        self.display_features()
        print("Range is: ",self.range)

In [127]:
e_car = ElectricCar('$5000',300,130,350)
e_car.display_features_electric()

Price:  $5000
Mileage:  300 miles per gallon
Top Speed:  130  miles per hour
Range is:  350

# 9-6. Ice Cream Stand: 
An ice cream stand is a specific kind of restaurant. Write
a class called IceCreamStand that inherits from the Restaurant class you wrote
in Exercise 9-1 (page 162) or Exercise 9-4 (page 167). Either version of
the class will work; just pick the one you like better. Add an attribute called
flavors that stores a list of ice cream flavors. Write a method that displays
these flavors. Create an instance of IceCreamStand , and call this method.

In [128]:
class Restaurant:
    def __init__(self,name,ctype,openR = False,num_served = 0):
        self.restaurant_name = name
        self.cuisine_type = ctype
        self.openR = openR
        self.number_served = num_served
    
    def describe_restaurant(self):
        print("Restaurant Information:")
        print("\tRestaurant Name: ",self.restaurant_name)
        print("\tCuisine Type: ",self.cuisine_type)
    
    def open_restaurant(self):
        if self.openR:
            print("The Restaurant is Open")
        else:
            print("The Restaurant is Closed")

    def display_served(self):
        print("Total people served are: ",self.number_served)
    
    def set_number_served(self,served):
        self.number_served = served
    
    def increment_number_served(self,increment):
        self.number_served = self.number_served + increment

In [129]:
restaurant_one = Restaurant('ABC','Chinese',True,10)
restaurant_one.describe_restaurant()
restaurant_one.open_restaurant()
restaurant_one.display_served()

Restaurant Information:
	Restaurant Name:  ABC
	Cuisine Type:  Chinese
The Restaurant is Open
Total people served are:  10

In [130]:
class IceCreamRestaurant(Restaurant):
    def __init__(self,name,ctype,flavours,openR = False,num_served = 0):
        super().__init__(name,ctype,openR,num_served)
        self.flavours = flavours

    def display_flavours(self):
        print("Flavours Avaliable Are: ",self.flavours)

In [131]:
flavour_list =  ['chocolate','vanilla','mango','black current','cream','pista']
ice_r = IceCreamRestaurant('Amul','IceCream',flavour_list,True,10)
ice_r.display_flavours()
ice_r.open_restaurant()

Flavours Avaliable Are:  ['chocolate', 'vanilla', 'mango', 'black current', 'cream', 'pista']
The Restaurant is Open

In [132]:
ice_r.display_served()

Total people served are:  10